<div class="nav-bar__container">  
    <div class="side-bar__container">
        <div class="side-bar--inside__container">
            <app-side-bar-item *ngFor = "let x of items_main" [item]="x"></app-side-bar-item>
        </div>
        <div class="side-bar--inside__container">
            <app-side-bar-item *ngFor = "let x of items_categories" [item]="x"></app-side-bar-item>
        </div>
        <div class="side-bar--inside__container">
            <app-side-bar-item *ngFor = "let x of items_categories" [item]="x"></app-side-bar-item>
        </div>
        <div class="side-bar--inside__container">
            <app-side-bar-item *ngFor = "let x of items_categories" [item]="x"></app-side-bar-item>
        </div>
    </div>
</div>
