.nav-bar__container
    position: fixed
    top:61px
    height: 100vh
.iseng
    color: black
        
.side-bar__container
    display: flex
    flex-direction: column
    flex-grow: 1
    background: #252525
    overflow: auto
    height: 100%
    width: 230px
    .side-bar--inside__container
        padding: 0.35em 0em
        border-bottom: 1.12px solid #404040
        h3 
            padding: 0.45em 1.2em
            font-weight: 500
            font-size: 14px
            letter-spacing: 0.007px
            margin: 0
            text-transform: uppercase
            color: #aaaaaa
.side-bar__container::-webkit-scrollbar 
    width: 8px
.side-bar__container::-webkit-scrollbar-track 
    background: #252525
.side-bar__container::-webkit-scrollbar-thumb 
    background: #555
.side-bar__container::-webkit-scrollbar-thumb:hover 
    background: #393939