.thumbnail
    width: 100%
    height: 170px
    img
        object-fit: cover
        height: 100%
        width: 100%

.author
    height: 40px
    width: 40px
    border-radius: 50%
    overflow: hidden
    margin-right: 10px
    img
        object-fit: cover
        height: 100%
        width: 100%
.details
    display: flex
    padding-top: 10px
    color: white
    .description
        display: flex
        flex-direction: column
        h3 
            margin: 0
            font-weight: 500
            font-size: 16px
        a 
            text-decoration: none
        a:hover 
            color: white
        a,span 
            margin-top: 3px
            font-size: 14px
            color: grey 
        
        