<div class="detail__container">
    <div class="video__container">
        <div class="video-player">
            <video src="{{video?.link}}" controls></video>
        </div>
        <div class="video-detail__container">
            <div class="video__headline">
                <h2>{{video?.title}}</h2>
                <div class="features__container">
                    <span>{{video?.view | shortNumber}} views &#8226; {{video?.created_at | date: 'MMM d,yyyy'}}</span>
                    <div class="video__features">
                        <div class="feature__item {{feedback == 'like' ? 'btn-chosen' : ''}}">
                            <i [inlineSVG] = "'assets/like.svg'" (click)="giveFeedback(true)"></i>
                            <span>{{likesCount | shortNumber}}</span>
                        </div>
                        <div class="feature__item {{feedback == 'dislike' ? 'btn-chosen' : ''}}" >
                            <i [inlineSVG] = "'assets/dislike.svg'" (click)="giveFeedback(false)" ></i>
                            <span>{{dislikeCount | shortNumber}}</span>
                        </div>
                        <div class="feature__item">
                            <i [inlineSVG] = "'assets/share.svg'"></i>
                            <span (click) = "toggleModal()">SHARE</span>
                        </div>
                        <div class="feature__item">
                            <i [inlineSVG] = "'assets/save.svg'"></i>
                            <span>SAVE</span>
                        </div>
                    </div>
                </div>     
            </div>
            <div class="video__detail">
                <div class="author__detail">
                    <div class="author">
                        <a>
                            <img src="{{video?.user.profile_pict}}" alt="">
                        </a>
                        <div class="description">
                            <a href="#">{{video?.user.name}}</a>
                            <span>0 subscribers</span>
                        </div>
                    </div>
                    <button class="subscribe-btn btn">SUBSCRIBE</button>
                </div>
                <div class="description__container">
                    <span class="paragraph__content">
                        {{video?.description}}
                    </span>
                </div>
            </div>
        </div>
        <div class="comment__container">
            <div class="comment__features">
                <span>{{comments.length}} comments</span>
                <div class="feature__item">
                    <i [inlineSVG] = "'assets/menu-alt-left.svg'"></i>
                    <span>SORT BY</span>
                </div>
            </div>
            <div class="form-comment__container" *ngIf = "userService.getCurrentUser()">
                <a>
                    <img  class= "user-author" src="{{userService.getCurrentUser() ? userService.getCurrentUser().profile_pict : 'assets/defaultProfile.png'}}" >
                </a>
                <fieldset>
                    <input class ="first" type="text" name="first" [(ngModel)]='inputComment' required>
                    <label for="first">Add a public comment..</label>
                    <div class="after"></div>
                </fieldset>
                <a class="send-button"(click) ="createComment()" >
                    <i *ngIf="inputComment" [inlineSVG]="'assets/send.svg'"></i>
                </a>
            </div>
            
            <div *ngFor = "let x of comments;let j = index">
                <app-comment *ngIf="!x.parent_id" [comment]="x"></app-comment>
                <div *ngFor = "let y of comments | slice:j:length" class="child-comment">
                    <app-comment  *ngIf="y.parent_id == x.id" [comment]="y" ></app-comment>
                </div>
            </div>
        </div>
    </div>
    <div class="video__grid">
        <div *ngFor = "let x of videos ; let j = index">
            <app-relate-video class="video__component" [video]="x"></app-relate-video>
        </div>
    </div>
</div>
<div class="{{isShow ? 'modal__background--active' : 'modal__background'}}">
    <div class="modal__container">
        <div class="modal__content">
            <div class="modal__header">
                <span>Share</span>
                <div (click) = "toggleModal()">
                    <i class = "x-close" [inlineSVG]="'assets/close.svg'" ></i>
                </div>
            </div>
            <div class="modal__thumbnail">
                <div>
                    <i [inlineSVG]="'assets/twitter.svg'" (click)="shareOnTwitter()"></i>
                    <span>Twitter</span>
                </div>
            </div>
            <div class="modal__link">
                <input type="text" id="link-id">
                <button (click)="copyToClipBoard()">copy</button>
            </div>
            <div class="modal__start">
                <input type="checkbox" value="">
                <span>Start at </span>
                <input class="time" type="text" value="0:00">
            </div>
        </div>
    </div>
</div>  